ws-usc-soap/src/main/resources/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Copyright (C) Red Hat, Inc.
~ http://www.redhat.com
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->
<wsdl:definitions name="OrderService"
                  targetNamespace="http://camel.apache.org/examples/soap2rest"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://camel.apache.org/examples/soap2rest"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <wsdl:types>
    <xs:schema targetNamespace="http://camel.apache.org/examples/soap2rest" xmlns="http://camel.apache.org/examples/soap2rest" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xs:element name="placeOrder" type="PlaceOrderRequestType"/>
      <xs:complexType name="PlaceOrderRequestType">
        <xs:sequence>
          <xs:element name="customerId" type="xs:string"/>
          <xs:element name="itemId" type="xs:string"/>
          <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="placeOrderResponse" type="PlaceOrderResponseType"/>
      <xs:complexType name="PlaceOrderResponseType">
        <xs:sequence>
          <xs:element name="orderNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="orderid" type="xs:int"/>
      <xs:element name="shippingdetails" type="xs:string"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="placeOrder">
    <wsdl:part element="tns:placeOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="placeOrderResponse">
    <wsdl:part element="tns:placeOrderResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="shippingDetails">
    <wsdl:part element="tns:orderid" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="shippingDetailsResponse">
    <wsdl:part element="tns:shippingdetails" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="Order"> 
    <wsdl:operation name="placeOrder">
      <wsdl:input message="tns:placeOrder" name="placeOrder"/>
      <wsdl:output message="tns:placeOrderResponse" name="placeOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="shippingDetails">
      <wsdl:input message="tns:shippingDetails" name="shippingDetails"/>
      <wsdl:output message="tns:shippingDetailsResponse" name="shippingDetailsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="OrderServiceSoapBinding" type="tns:Order">
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="placeOrder">
      <soap:operation soapAction="placeOrderSA" style="document"/>
      <wsdl:input name="placeOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="placeOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shippingDetails">
      <soap:operation soapAction="shippingSA" style="document"/>
      <wsdl:input name="shippingDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shippingDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="OrderService">
    <wsdl:port binding="tns:OrderServiceSoapBinding" name="OrderPort">
      <soap:address location="http://localhost:9000/OrderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
